#haut{
    margin: 0%;
}


#experiences {
    padding-top: 10px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    width: 99%;
}

#experiences .addIcon {
    display: none;
}

.exp .icons {
    display: none;
}

.exp:hover .icons {
    display: flex;
    flex-flow: column nowrap !important;
    justify-content: space-around !important;
    align-items: center;
    width: 30px;
}
#experiences #experiencesList h4:hover .addIcon {
    display: inline;
}

.devExp, .nodevExp {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.devExp .exp {
    max-width: 23%;
}
.devExp h4, .nodevExp h5 {
    color: teal;
}
.devExp span, .nodevExp span {
    font-style: italic;
}